 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
 }


 html,body {
    height: 100%;
    width: 100%;
 }


 /* #parent{
    height: 30vw;
    width: 30vw;

    background-color: cyan;
 } */


 /* #child {
    height: 50%;
    width: 50%;

    background-color: salmon;
 } */
/* 
 #box{
    height: 400px;
    width: 400px;

    background-color: crimson;
    position: absolute;

    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1s;
 } */

/* @media (max-width: 700px) {
    
    #box{
        height: 300px;
        width: 300px;
        background-color: crimson;
    }
    
} */

/* @keyframes anime {
    
  from{
    left: 0;
    background-color: red;
    rotate: 0;
  }

  to {
    left:70%;
    rotate: 360deg;
    background-color: blue;
  }


} */


/* img {
    height: 200px;
    position: absolute;
    animation-name: bat-anime;
    animation-duration: 2s;
    animation-delay: 1s;
}
 */

/* @keyframes bat-anime {
  
    /* from{
        left: 0;
        top: 0;
    }

    to{
        left:80%;
        top: 50%;
    }
     */


     /* 0%{
        left: 0;
        top: 0%;

    }
    50%{
        left: 80%;
        top:0;

        rotate: 180deg;
    }

   100%{
      left:80%;
      top:50%;
   }

/* } */ 



/* #box1{

    height: 300px;
    width: 300px;
    background-color: crimson;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
}


#box2{

    height: 300px;
    width: 300px;
    background-color: lawngreen;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
}

//
@keyframes box-anime {
    

    from{
       left:0;
    }

    to{
       left:70%;
    }
} */


h1 {
    font-size: 100px;
    color: red;
}



h1::after{
    content: " and my dostniyo";
    color: royalblue;
    font-size: 50px;
}